<div class="container">
  <div class="list">
    <mat-toolbar color="accent">Humans</mat-toolbar>
    <mat-action-list *ngFor="let hero of (heroes$ | async)">
      <button mat-list-item class="mat-elevation-z2" (click)="selectHero(hero)">
        <img matListAvatar src="{{hero.photo}}" alt="..." />
        <h3 matLine>{{ hero.name }}</h3>
      </button>
    </mat-action-list>
  </div>
  <mat-card class="form" *ngIf="(selectedHero$ | async) as hero">
    <mat-card-header>
      <img mat-card-avatar src="{{hero?.photo}}" />
      <mat-card-title>{{ hero.name }}</mat-card-title>
      <mat-card-subtitle>{{ hero.age }} years old</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form class="">
        <mat-form-field class=""> <input matInput type="text" placeholder="Name" /> </mat-form-field>
        <mat-form-field class=""> <input matInput type="number" placeholder="Age" /> </mat-form-field>
        <mat-slider tickInterval="5" max="100" min="0" step="5"></mat-slider>
        <span>Male<mat-slide-toggle>Female</mat-slide-toggle></span>
      </form>
    </mat-card-content>
    <mat-card-actions> <button mat-raised-button color="primary">Save</button> </mat-card-actions>
  </mat-card>
</div>
